.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  background-color: $primary !important;
  .mat-mdc-chip-action-label {
    color: #fff !important;
  }
}

.mat-mdc-form-field-hint-end,
.mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
  font-family: "WorkSans" !important;
}
