<div
  class="d-flex align-items-center w-100 mb-3 justify-content-{{
    dataSource?.data?.length ? 'between' : 'end'
  }}"
>
  <de-search
    *ngIf="dataSource?.data?.length"
    class="w-50"
    (searchEmitter)="onSearch($event)"
  ></de-search>
  <button mat-raised-button color="primary" (click)="openDomainForm()">
    <mat-icon>add</mat-icon>
    Add New Domain
  </button>
</div>
<de-domains-list
  [dataSource]="dataSource"
  (paginateEmitter)="handlePagination($event)"
  (deleteEmitter)="list()"
  (editEmitter)="list()"
></de-domains-list>
